  <aside class="bg-dark" id="join_team">
      <div class="container text-center">
          <div class="call-to-action">
              <h2 class="section-heading">ECG digitizer - Converts ECG images to digital signals</h2>
              <hr class="light">
              <p class="text-faded">The electrocardiogram (ECG) is a non-invasive representation of the electrical activity of the heart from electrodes placed on the surface of the torso. Automatic detection and classification of cardiac abnormalities can assist physicians and cardiologists in the diagnosis of the growing number of ECGs recorded. Most ECGs are stored as printed paper-ECG or as scanned images of paper-ECG and this is not optimal for AI-purposes. </p>
              <p class="text-faded"> ECG Digitizer aims to develop a tool that can digitize scanned ECGs to make these ECGs relevant to AI research. </p>
          </div>
      </div>
  </aside>
